{% extends "home/base.html" %}
{% block title %}Manage Feedback {% endblock %}
{% block major %}
{% endblock %}
{% block content %}
<h2>Anonymous Feedbacks</h2>
<p>Manage feedback as {{ request.session.external_username }}.</p>
<table border="1" style="border: 1;border-collapse: collapse; width: 70%; text-align: left;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        {% for item in objects %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.message }}</td>
            <td>{{ item.created_at }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}