{% extends "home/base.html" %}
{% block title %}Manage Complaint for {{ request.session.external_username }} {% endblock %}
{% block major %}
{% endblock %}
{% block content %}
<h2>Manage Complaints for {{ district }}</h2>
<p>District wise Recieve, Download and Forward complaint for.</p>
<table border="1" style="border: 1;border-collapse: collapse; width: 70%; text-align: left;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Description</th>
            <th>Date of incident</th>
            <th>Image</th>
            <th>Created at</th>
            <th>Download</th>
            <th>Forward complaint</th>
        </tr>
    </thead>
    <tbody>
        {% for item in objects %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.first_name }}</td>
            <td>{{ item.last_name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.date_of_incident }}</td>
            <td>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="Image" width="100">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ item.created_at }}</td>
            <td>
  <a href="{% url 'download_pdf' item.id %}"
     class="button"
     style="background-color:#4c61afff;color:white;cursor:pointer;border-radius:4px;text-decoration:none;">
     Download
  </a>
</td>
            <td><a href="{% url 'forward_complaint' item.id %}"
     class="button"
     style="background-color:#4c61afff;color:white;cursor:pointer;border-radius:4px;text-decoration:none;">
     Forward
  </a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}